@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  @apply px-2 py-1;
}

button[type="submit"] {
  @apply px-4 py-2 bg-amber-500 cursor-pointer text-xl rounded-full disabled:cursor-not-allowed
}

nav {
  @apply bg-red-700 text-slate-100
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
